@import '/src/common/best-reset.css';
@import '/src/common/theme.css';
@import '/src/ui/components/avatar/avatar.css';

body {
  margin: 50px;
}

h1 {
  margin-block: 20px;
}

/* Stacking context */
/* case 1 */
.case-01 {
  background: yellow;
}
