body {
  font-family: 'SUIT' sans-serif;
}

a {
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  display: inline;
}

.member-service {
  width: fit-content;
  background: yellow;
  a:not(:last-child)::after {
    content: '|';
    margin-left: 10px;
  }
}

.member-link {
  display: inline-block;
  background-color: pink;

  span {
    padding-right: 10px;
  }
}
