@import '/src/common/modern-reset.css';
@import '/src/common/login-theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

form {
  display: contents;

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: contents;
  }
}

/* 입력서식 기본 스타일 */
.input {
  background: yellow;
  position: relative;

  p {
    font-size: var(--font-xs);
    color: var(--red-500);
    position: absolute;
    bottom: 0;
    inset-block-end: 0;
    left: 0;
    inset-inline-start: 0;
    translate: 0 150%;
    display: none;
  }

  input:placeholder-shown + p {
    display: none !important;
  }

  input:user-invalid + p {
    display: block;
  }
}
